<!-- TODO : remplacer le contenu par la page d'annonce, à la charte -->

<h2>Diffusion le {!LiveStartDate}</h2>
<h3>Multi-diffusion</h3>
ici
<ul>
  <li class="lien livestream">sur <a href="https://www.twitch.tv/doctothon">https://www.twitch.tv/doctothon</a></li>
  <li class="lien livestream"><br /> sur <a href="https://crowdbunker.com/@doctothon">https://crowdbunker.com/@doctothon</a></li>
  <li class="lien livestream">sur <a href="https://twitter.com/doctothon_live">https://twitter.com/doctothon_live</a></li>
  <li class="lien livestream">sur <a href="https://www.facebook.com/doctothon">https://www.facebook.com/doctothon</a></li>
</ul>
