<!-- ## TODO : remplacer le contenu par la page de fin, à la charte -->
<h1>Le Doctothon Spécial Enfants est fini</h1>
Retrouvez tous les liens de rediffusion sur <a href="https://doctothon.fr">https://doctothon.fr</a>
<br />
<img src="https://doctothon.fr/affiche.png" width="80%">
<!-- TODO : remplacer le contenu par la page de fin, à la charte -->
