div(class="section")
  div(class="card is-horizontal columns")
    div(class="card-image column is-three-fifths")
      figure(class="image is-4by3")
        img(src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg" alt="this used to be photo")
    div(class="card-content column is-two-fifths")
      div(class="media")
        div(class="media-left")
          figure(class="image is-64x64")
            img(src="https://source.unsplash.com/random/96x96" alt="Placeholder image")
        div(class="media-content")
          p(class="title is-4") Once upon a time there was a sailor
          p(class="subtitle is-6")
            a(class="tag is-delete is-rounded")
            | johnsmith
      div(class="content") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        a @bulmaio
        span(class="tag is-link") blackbird was a sailor
        span(class="tag is-info") that's what you do

        div(class="field is-grouped is-grouped-multiline")
          div(class="control")
            div(class="tags has-addons")
              span(class="tag is-dark") npm
              span(class="tag is-info") 0.5.0

          div(class="field is-grouped is-grouped-multiline")
            div(class="control")
              div(class="tags has-addons")
                span(class="tag is-link") axiomaciae
                span(class="tag is-info")
                  | 24. 07. 2020

              time(datetime="2018-5-8")
                | 15:51 PM - 28 May 2018
