<hr />

div(class="mentions legales top columns")
  div(class="mentions legales column one-third" onclick="interactionClick()")
  div(class="mentions legales column one-third" onclick="interactionClick()")
    h3 Mentions légales
  div(class="mentions legales column one-third" onclick="interactionClick()")

<hr />

div(class="mentions legales body columns")
  div(class="mentions legales column one-third" onclick="interactionClick()")
    h4(class="doctothon footer title") Cookies
      ul
        li Ce site n'utilise pas de cookies
  div(class="mentions legales column one-third" onclick="interactionClick()")
    h4(class="doctothon footer title") Données personnelles
      ul
        li Ce site ne collecte pas de données personnelles
        li Ce site ne collecte n'utilise pas de données personnelles

  div(class="mentions legales column one-third" onclick="interactionClick()")
    h4(class="doctothon footer title") Hébergeur
      ul
        li(class="addresse usa raison sociale") GitHub Pages (https://pages.github.com/)
        li(class="addresse usa raison sociale") GitHub, Inc.
        li(class="addresse usa voie") 88 Colin P. Kelly Jr. Street
        li(class="addresse usa localite ") San Francisco, CA 94107
        li(class="addresse usa pays ") United States
        li(class="addresse usa telephone ") +1 (877) 448-4820
