div(class="mentions legales column" onclick="interactionClick()")
  ccc
div(class="mentions legales column" onclick="interactionClick()")
  ccc


<hr />
<p /><b>Mentions légales</b>
<br />Cookies : ce site n'utilise pas de cookies
<!-- vérifier ce point-ci -->
<br />Données personnelles : ce site ne collecte et n'utilise pas de données personnelles
<p />Hébergeur :
<br />GitHub Pages (https://pages.github.com/)
<br />GitHub, Inc.
<br />88 Colin P. Kelly Jr. Street
<br />San Francisco, CA 94107
<br />United States
<br />+1 (877) 448-4820
