div(class="footer-social-icons")
  h4(class="_14") Follow us on
    ul(class="social-icons")
      li
        a(href="" class="social-icon")
          i(class="fa fa-facebook")
      li
        a(href="" class="social-icon")
          i(class="fa fa-twitter")
      li
        a(href="" class="social-icon")
          i(class="fa fa-rss")
      li
        a(href="" class="social-icon")
          i(class="fa fa-youtube")
      li
        a(href="" class="social-icon")
          i(class="fa fa-linkedin")
      li
        a(href="" class="social-icon")
          i(class="fa fa-twitch")
